{{ $title := .Title | html | lower}}
{{ $section := .Section | html | lower}}

<!-- switch subseccions -->
{{ if (eq $title "sic-serveis") }}
	Serveis
{{ else if (eq $title "sic20-serveis") }}
	Serveis (SIC 2.0)
{{ else if (eq $title "sic30-serveis") }}
	Serveis (SIC 3.0)
{{ else if (eq $title "sic-guies") }}
 	Guies
{{ else if (eq $title "sic20-guies") }}
	Guies (SIC 2.0)
{{ else if (eq $title "sic30-guies") }}
	Guies (SIC 3.0)
{{ else if (eq $title "sic-suport") }}
	Suport
{{ else if (eq $title "blog") }}
	Blog d'Arquitectura
{{ else if (eq $title "arqctti") }}
	Arquitectura CTTI
{{ else if (eq $title "dadesref") }}
	Gestió Tècnica de Dades
{{ else if (eq $title "eventhub") }}
	EventHub
{{ else if (eq $title "rpa") }}
	Plataforma Corporativa de RPA
{{ else if (eq $title "Apim") }}
	Servei d'API Manager Corporatiu
{{ else if (eq $title "lowcode") }}
	Plataformes LowCode
{{ else }}
	{{ .Title | emojify }}
{{ end }}
