<div class="grafica">
    <div class="grafica_title">
        {{ .Params.grafica.titol }}
    </div>
    <div class="grafica_desc">
        {{ .Params.grafica.descripcio }}
    </div>
    <div class="grafica_img">
        {{ $anymes := .Date.Format "/2006/01/" }}
        {{ $imgurl := print "/related/cs" $anymes .Params.grafica.imatge }}
        <script>
            console.info('{{ $anymes }}');
            console.info('{{ $imgurl }}');
        </script>
        <img src="{{ $imgurl }}" alt="{{ .Params.grafica.alt }}" />
    </div>
</div>
