<div id="header">
    <img id="logo" src="http://canigo.ctti.gencat.cat/images/comunicats/logo-generalitat.png" alt="Generalitat de Catalunya" />
    
    <p id="title">
        {{ .Site.Data.parametres_comunicat.Titol }}
    </p>
    
    <p id="subtitle">
        {{ .Site.Data.parametres_comunicat.Subtitol }}
    </p>
    
    <p id="department">
        {{ .Site.Data.parametres_comunicat.Departament }}
    </p>
    
    <p id="altres">
         {{ $nommes := index  .Site.Data.parametres_comunicat.mesos (.Date.Format "January") }}
        {{ $numany := .Date.Format "2006" }}
        {{ print $nommes " " $numany }}
    </p>
</div>
