<tr>
  <td class="noticia_box">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ddd;background-color: #fff">
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <!-- <td style="padding:10px 0 5px 25px">
                <a style="font-family:Open Sans, sans-serif; font-size: 25px; color: #333; text-decoration: none;" href="{{ .Params.readmore }}">{{ .Title }}</a> 
              </td>-->
              <td style="padding:10px 25px 5px 25px; font-family:Open Sans, sans-serif; font-size: 25px; color: #333; text-decoration: none;">
                {{ .Title }}
              </td>
            </tr>
            <tr>
              <td style="font-family:Open Sans, sans-serif; font-size: 16px; padding:20px; color:#666;">
                {{ .Description }}
              </td>
            </tr>
            <tr>
              <td style="padding:5px 20px 15px 25px">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="llegiu_mes" style="background-color: #333333;text-align: center;color: #ffffff; font-family: Open Sans, sans-serif;font-size: 14px;padding: 0 10px 0 10px; height: 25px; width: 125px;">
                      <a href="{{ .RelPermalink }}" style="text-decoration: none;color=#ffffff;">Llegiu més</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
