<div class="relacionats">
    <div class="relacionats_title">
        HowTo's Frameworks i Solucions d'Arquitectura
    </div>
    <ul>
        {{ range .Params.relacionats }}
        <li class="relacionat_content">
            <p class="relacionat_title">
                {{ .doctitle }}
            {{ $imgurl := print "/img/ico_descarregable_" .doctype ".png" }}
            <a href="{{ .docurl }}" target="_blank">
                <img src="{{ $imgurl }}" />
            </a>
            </p>
            <div class="relacionat_desc">
                {{ .docdescription }}
            </div>
        </li>
        {{ end }}
    </ul>
</div>
