    <tr>
      <td bgcolor="#eeeeee"><!--shadow-->
        
        <table width="100%" cellspacing="0" class="shadow" style="border-collapse:collapse;border-spacing:0px;">
          <tr>
            <td style="padding: 0px"><img src="http://178.23.56.245/news/images/shadow_bottom_footer.jpg"  border="0" alt=""></td>
          </tr>
        </table></td>
    </tr>
    <!--end shadow-->
    <tr>
      <td><table width="100%" bgcolor="#eeeeee" border="0" cellspacing="0" cellpadding="0" style="padding-bottom:20px">
          <tr>
            <td class="p-0-20"><table width="100%">
                <tr>
                  <td colspan="3"><table width="100%">
                      <tr>
                        <td style="background: #ddd;height: 0px;" ></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td><table align="left" class="pl-15" >
                      <tr>
                        <td><img src="http://178.23.56.245/news/images/logo-generalitat_gris.png" width="101px" height="26" border="0" alt=""></td>
                      </tr>
                    </table></td>
                  <td colspan="2"><table align="left" style="width:90%">
                      <tr>
                        <td class="avis_legal" style="font-family:Open Sans, sans-serif; font-size: 10px; padding:0px; color:#999;"><strong style="color:#999;">Avis legal:</strong>La ©Generalitat de Catalunya permet la reutilizació de les dades sempre que se citi la font i la data d´actualizació, que no es desnaturalitzi la informació i que no es contradigui amb una llicència específica.</td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td width="79%">&nbsp;</td>
                  <td width="11%" ><table class="  amunt" style="float:right; margin-top:10px" align="right" width="100%">
                <tr>
                  <td style="padding: 0px 10px;" width="18px"><a href="#amunt"><img src="http://178.23.56.245/news/images/expanded.png" border="0" alt=""></a></td>
                  <td  align="left"><a style="font-family:Open Sans, sans-serif; font-size: 10px;padding: 0px 10px 0px 0px;color:#333;" href="#amunt"><strong>AMUNT</strong></a></td>
                </tr>
              </table></td>
                </tr>
              </table>
              </td>
          </tr>
        </table></td>
    </tr>
