td.details-control {
    background: url('../drafts/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../drafts/details_close.png') no-repeat center center;
}

.intern {
font-weight: bold;
}

th { font-size: 11px; }
td { font-size: 10px; }
