<!DOCTYPE html>
<html xml:lang="ca-ES" lang="ca-ES" xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>Portal de Frameworks i Solucions d'Arquitectura. CTTI. Generalitat de Catalunya</title>
	<meta name="robots" content="noindex,follow" />
	{{ partial "head.html" . }}

</head>

{{ $title := .Title | html | lower}}

<body class="section {{$title}}">
	<div class="contenidor unfixed">

		{{ partial "menu.html" . }}

	</div>

	<section class="border-start">

			{{ partial "header_block.html" .}}

			<article class="padding-xs padding-sm padding-md contingut">				
				<div class="container">
				<div class="row">
						{{ $section := .Title | html | lower }}

						{{ if and (ne $section "noticies") (ne $section "arquitecturas") }}
				            
							{{ partial "section/colors.html" . }}

			            {{ else if (eq $section "arquitecturas") }}

							{{ partial "section/posts.html" . }}

			            {{ else }}

							{{ partial "section/noticies.html" . }}
	
			            {{ end }}

				</div>
				</div>
			</article>

	</section>

	{{ partial "footer.html" . }}
	{{ if (eq $section "arquitecturas") }}
		<script src="/js/bloc.js"></script>
	{{ end }}

</body>
</html>
