<!DOCTYPE html>
<html xml:lang="ca-ES" lang="ca-ES" xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>{{.Title}}</title>
	{{ partial "head.html" . }}
	<script>
		document.write("<meta name=\"titol\" content=\"{{.Title}}\" />");
		document.write("<meta name=\"description\" content=\"{{.Description}}\" />");
	</script>

	{{ if isset .Params "teletext_id" }}

    <script type="text/javascript" src="https://teletext.io/js/latest/txt-min.js"></script>
    <script type="text/javascript" src="/js/teletext.js"></script>

	{{ end }}

</head>
<body class="single">
	<div class="contenidor unfixed">

		{{ partial "menu.html" . }}

	</div>

	<section class="border-start">

			{{ partial "header_block.html" .}}
			


		   <div class="padding-xs container">
	    	{{ if not .Lastmod.IsZero }}
	    	   <i><b>Darrera actualització:</b></i> {{ .Lastmod.Format "02-01-2006" }}
	        {{ end }}
           </div>
           
			<article class="padding-xs padding-sm padding-md contingut">				
				<div class="container">
 		
					{{ partial "table-of-contents.html" . }}

					{{ if isset .Params "teletext_id" }}
						<div data-txt="{{index .Params "teletext_id"}}.content">
					{{ end }}

						{{ .Content }}

					{{ if isset .Params "teletext_id" }}
						</div>
					{{ end }}

					{{ if eq .Section .Site.Params.blog_section }}
						<a name="comments"></a>
						<hr />		
						{{ template "_internal/disqus.html" . }}
					{{ end }}
				</div>	

			</article>	


	</section>	

	{{ partial "footer.html" . }}

</body>
</html>
