#FullRuta td:nth-child(1),
#FullRuta th:nth-child(1)
{
    text-align : center;
    font-weight: bold;
}
td.details-control {
    background: url('https://canigo.ctti.gencat.cat/drafts/FullRuta20/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('https://canigo.ctti.gencat.cat/drafts/FullRuta20/details_close.png') no-repeat center center;
}

div.container { width: 80%; }

.intern {
font-weight: bold;
}

th { font-size: 11px; }
td { font-size: 11px; }
