
{{ range $index, $page := .Data.Pages }}

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
		<div class="distribuidora-item ">

			<p>
				{{ if isset .Params "enllac" }}
					<a class="distribuidora-item-link" href="{{ index .Params "enllac" }}" title="{{ .Title | emojify }}">
						{{ .Title | emojify }}
					</a>
				{{ else }}
					<a  class="distribuidora-item-link" href="{{ .Permalink }}" title="{{ .Title | emojify }}">
						{{ .Title | emojify }}
						{{ if and (eq .Section "comunicat") (gt ($.Scratch.Get "level") 1) }}
							{{ $nommes := index  .Site.Data.parametres_comunicat.mesos (.Date.Format "January") }}
							{{ print $nommes }}
						{{ end }}
					</a>
				{{ end }}
			</p>

			<p class="distribuidora-item-description-link">
				{{ .Description | safeHTML }}
				{{ if and (strings.Contains .File.Dir "principis") (isset .Params "valid_to") (ne (strings.Contains .Params.valid_to "actual") true ) }}
					<br /><br /><b>Validesa fins</b>: {{ .Params.valid_to }}
				{{ end}}
			</p>
		
		</div>

	</div>

{{ end }}
