{{ $.Scratch.Set "level" 0 }}

<li class="NG__breadcrumb_item">
	<a class="NG__breadcrumb__item_link"  href="/">Inici</a>
</li>

{{ range .Ancestors.Reverse }}
	{{if gt ($.Scratch.Get "level") 0}}
		<li class="NG__breadcrumb_item">
			{{ if ne .LinkTitle "Blog_tags"}}
				<a class="NG__breadcrumb__item_link" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
			{{ end }}
			{{ if eq .LinkTitle "Blog_tags"}}
				<a href="/blog">Blog</a>			
			{{ end }}
		</li>
	{{end}}
	{{ $.Scratch.Add "level" 1 }}
{{end}}

<li class="NG__breadcrumb_item">
	{{ if isset .Params "title_breadcrumbs" }}
		{{ .Params.title_breadcrumbs }}
	{{ else }}
		{{ .LinkTitle }}
	{{ end }}
</li>
