{{ $title := .Title | html | lower}}
{{ $section := .Section | html| lower}}

<!-- switch subseccions -->
<!-- Canigó - documentació -->
{{ if or (eq $title "canigo-documentacios") (eq $section "canigo-documentacio") }}
	<a href="/canigo/">Framework Canigó</a> </li>

	<li>
	{{ if gt (len $section) 0 }}
		<a href="/canigo-documentacio/">
	{{ end }}

	Documentació

	{{ if gt (len $section) 0 }}
		</a>
	{{ end }}

{{ end }}

<!-- Canigó - documentació - versions -->
{{ if or (eq $title "canigo-documentacio-versions") (eq $section "canigo-documentacio-versions") }}
	<a href="/canigo/">Framework Canigó</a> </li> <li> <a href="/canigo-documentacio/">Documentació</a> </li>

	<li>

	{{ if gt (len $section) 0 }}
		<a href="/canigo-documentacio-versions/">
	{{ end }}

	Versions

	{{ if gt (len $section) 0 }}
		</a>
	{{ end }}

{{ end }}

<!-- Canigó - documentació - versions - anteriors -->
{{ if or (eq $title "canigo-documentacio-versions-anteriors") (eq $section "canigo-documentacio-versions-anteriors") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo-documentacio/">Documentació</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions/">Versions</a>
	</li>

	<li>
		{{ if gt (len $section) 0 }}
			<a href="/canigo-documentacio-versions-anteriors">Anteriors</a>
		{{ else }}
			Anteriors
		{{ end }}

{{ end }}

<!-- Canigó - documentació - versions - 3x -->
{{ if or (eq $title "canigo-documentacio-versions-34") (eq $section "canigo-documentacio-versions-34") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo-documentacio/">Documentació</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions/">Versions</a>
	</li>

	<li>
		{{ if gt (len $section) 0 }}
			<a href="/canigo-documentacio-versions-34">Versió 3.4</a>
		{{ else }}
			Versió 3.4
		{{ end }}

{{$title}}
{{$section}}

{{ end }}

{{ if or (eq $title "canigo-documentacio-versions-34-core") (eq $section "canigo-documentacio-versions-34-core") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo-documentacio/">Documentació</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions/">Versions</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions-34">Versió 3.4</a>
	</li>

	<li>
		{{ if gt (len $section) 0 }}
			<a href="/canigo-documentacio-versions-34-core">Mòduls Generals</a>
		{{ else }}
			Mòduls Generals
		{{ end }}

{{ end }}

{{ if or (eq $title "canigo-documentacio-versions-34-integracio") (eq $section "canigo-documentacio-versions-34-integracio") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo-documentacio/">Documentació</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions/">Versions</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions-34">Versió 3.4</a>
	</li>

	<li>
		{{ if gt (len $section) 0 }}
			<a href="/canigo-documentacio-versions-34-integracio">Mòduls d'Integració</a>
		{{ else }}
			Mòduls d'Integració
		{{ end }}

{{ end }}

{{ if or (eq $title "canigo-documentacio-versions-34-suport") (eq $section "canigo-documentacio-versions-34-suport") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo-documentacio/">Documentació</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions/">Versions</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions-34">Versió 3.4</a>
	</li>

	<li>
		{{ if gt (len $section) 0 }}
			<a href="/canigo-documentacio-versions-34-suport">Mòduls de Suport</a>
		{{ else }}
			Mòduls de Suport
		{{ end }}

{{ end }}

{{ if or (eq $title "canigo-documentacio-versions-34-altres") (eq $section "canigo-documentacio-versions-34-altres") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo-documentacio/">Documentació</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions/">Versions</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions-34">Versió 3.4</a>
	</li>

	<li>
		{{ if gt (len $section) 0 }}
			<a href="/canigo-documentacio-versions-34-altres">Altres</a>
		{{ else }}
			Altres
		{{ end }}

{{ end }}

{{ if or (eq $title "canigo-documentacio-versions-34-errors-coneguts") (eq $section "canigo-documentacio-versions-34-errors-coneguts") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo-documentacio/">Documentació</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions/">Versions</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions-34">Versió 3.4</a>
	</li>

	<li>
		{{ if gt (len $section) 0 }}
			<a href="/canigo-documentacio-versions-34-errors-coneguts">Errors Coneguts</a>
		{{ else }}
			Errors Coneguts
		{{ end }}

{{ end }}

{{ if or (eq $title "canigo-documentacio-versions-36") (eq $section "canigo-documentacio-versions-36") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo-documentacio/">Documentació</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions/">Versions</a>
	</li>

	<li>
		{{ if gt (len $section) 0 }}
			<a href="/canigo-documentacio-versions-36">Versió 3.6</a>
		{{ else }}
			Versió 3.6
		{{ end }}

{{ end }}

{{ if or (eq $title "canigo-documentacio-versions-36/core") (eq $section "canigo-documentacio-versions-36/core") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo-documentacio/">Documentació</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions/">Versions</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions-36">Versió 3.6</a>
	</li>

	<li>
		{{ if gt (len $section) 0 }}
			<a href="/canigo-documentacio-versions-36/core">Mòduls Generals</a>
		{{ else }}
			Mòduls Generals
		{{ end }}

{{ end }}

{{ if or (eq $title "canigo-documentacio-versions-36/integracio") (eq $section "canigo-documentacio-versions-34/integracio") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo-documentacio/">Documentació</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions/">Versions</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions-36">Versió 3.6</a>
	</li>

	<li>
		{{ if gt (len $section) 0 }}
			<a href="/canigo-documentacio-versions-36/integracio">Mòduls d'Integració</a>
		{{ else }}
			Mòduls d'Integració
		{{ end }}

{{ end }}

{{ if or (eq $title "canigo-documentacio-versions-36/suport") (eq $section "canigo-documentacio-versions-36/suport") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo-documentacio/">Documentació</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions/">Versions</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions-36">Versió 3.6</a>
	</li>

	<li>
		{{ if gt (len $section) 0 }}
			<a href="/canigo-documentacio-versions-36/suport">Mòduls de Suport</a>
		{{ else }}
			Mòduls de Suport
		{{ end }}

{{ end }}

{{ if or (eq $title "canigo-documentacio-versions-36/altres") (eq $section "canigo-documentacio-versions-36/altres") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo-documentacio/">Documentació</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions/">Versions</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions-36">Versió 3.6</a>
	</li>

	<li>
		{{ if gt (len $section) 0 }}
			<a href="/canigo-documentacio-versions-36/altres">Altres</a>
		{{ else }}
			Altres
		{{ end }}

{{ end }}

{{ if or (eq $title "canigo-documentacio-versions-36/errors-coneguts") (eq $section "canigo-documentacio-versions-36/errors-coneguts") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo-documentacio/">Documentació</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions/">Versions</a>
	</li>

	<li>
		<a href="/canigo-documentacio-versions-36">Versió 3.6</a>
	</li>

	<li>
		{{ if gt (len $section) 0 }}
			<a href="/canigo-documentacio-versions-36/errors-coneguts">Errors Coneguts</a>
		{{ else }}
			Errors Coneguts
		{{ end }}

{{ end }}

<!-- Canigó - download - related-->
{{ if or (eq $title "canigo-download-related") (eq $section "canigo-download-related") }}
	<a href="/canigo/">Framework Canigó</a> </li>
	<li>
		<a href="/canigo/download/">Descàrrega dels binaris de Canigó i de les API’s de suport</a>
	</li>
{{ end }}

<!-- SIC - Serveis -->
{{ if or (eq $title "sic-serveis") (eq $section "sic-serveis") }}
<a href="/sic/">Servei d'Integració Contínua</a> </li>
<li>
	{{ if gt (len $section) 0 }}
	<a href="/sic-serveis/">
		{{ end }}

		Serveis

		{{ if gt (len $section) 0 }}
	</a>
	{{ end }}

	{{ end }}

<!-- SIC - Serveis (SIC 2.0) -->
{{ if or (eq $title "sic20-serveis") (eq $section "sic20-serveis") }}
<a href="/sic/">Servei d'Integració Contínua</a> </li>
<li>
	{{ if gt (len $section) 0 }}
	<a href="/sic-serveis/">
		{{ end }}

		Serveis

		{{ if gt (len $section) 0 }}
	</a></li>
	{{ end }}

    {{ if gt (len $section) 0 }}
    <li><a href="/sic20-serveis/">
        {{ end }}

        Serveis (SIC 2.0)

        {{ if gt (len $section) 0 }}
    </a>
    {{ end }}

    {{ end }}

<!-- SIC - Serveis (SIC 3.0) -->
{{ if or (eq $title "sic30-serveis") (eq $section "sic30-serveis") }}
<a href="/sic/">Servei d'Integració Contínua</a> </li>
<li>
    {{ if gt (len $section) 0 }}
    <a href="/sic-serveis/">
        {{ end }}

        Serveis

        {{ if gt (len $section) 0 }}
    </a></li>
    {{ end }}

	{{ if gt (len $section) 0 }}
	<li><a href="/sic30-serveis/">
		{{ end }}

		Serveis (SIC 3.0)

		{{ if gt (len $section) 0 }}
	</a>
	{{ end }}

	{{ end }}

<!-- SIC - Guies -->
{{ if or (eq $title "sic-guies") (eq $section "sic-guies") }}
<a href="/sic/">Servei d'Integració Contínua</a> </li>
<li>
	{{ if gt (len $section) 0 }}
	<a href="/sic-guies/">
		{{ end }}

		Guies

		{{ if gt (len $section) 0 }}
	</a>
	{{ end }}

	{{ end }}

<!-- SIC - Guies (SIC 2.0) -->
{{ if or (eq $title "sic20-guies") (eq $section "sic20-guies") }}
<a href="/sic/">Servei d'Integració Contínua</a> </li>
<li>
	{{ if gt (len $section) 0 }}
    <a href="/sic-guies/">
        {{ end }}

        Guies

        {{ if gt (len $section) 0 }}
    </a></li>
    {{ end }}
	
	{{ if gt (len $section) 0 }}
	<li><a href="/sic20-guies/">
		{{ end }}

		Guies (SIC 2.0)

		{{ if gt (len $section) 0 }}
	</a>
	{{ end }}

	{{ end }}

<!-- SIC - Guies (SIC 3.0) -->
{{ if or (eq $title "sic30-guies") (eq $section "sic30-guies") }}
<a href="/sic/">Servei d'Integració Contínua</a> </li>
<li>
	{{ if gt (len $section) 0 }}
    <a href="/sic-guies/">
        {{ end }}

        Guies

        {{ if gt (len $section) 0 }}
    </a></li>
    {{ end }}
	
	{{ if gt (len $section) 0 }}
	<li><a href="/sic30-guies/">
		{{ end }}

		Guies (SIC 3.0)

		{{ if gt (len $section) 0 }}
	</a>
	{{ end }}

	{{ end }}

<!-- SGDE - Related -->
{{ if or (eq $title "sgde-related") (eq $section "sgde-related") }}
	<a href="/sgde/">Servei de Gestió del Document Electrònic</a> </li>
	<li>
		<a href="/sgde/about">Què és el Servei de Gestió del Document Electrònic (SGDE)</a>
	</li>
{{ end }}

<!--Centre de suport - Related -->
{{ if or (eq $title "centre-de-suport-related") (eq $section "centre-de-suport-related") }}
	<a href="/centre-de-suport/">Centre de Suport</a> </li>
	<li>
		<a href="/centre-de-suport/acces">Accés a les eines de suport</a>
	</li>
{{ end }}

<!-- destacats -->
{{ if or (eq $title "destacats-related") (eq $section "destacats-related") }}
	Destacats
{{ end }}


<!-- GICAR - guia integració SM -->
{{ if or (eq $title "gicar-integracios") (eq $section "gicar-integracio") }}
	<a href="/gicar/">GICAR</a> </li>

	<li>
		<a href="/gicar-integracio-intro/">Modalitats d'integració possibles</a>
	</li>

	<li>
	{{ if gt (len $section) 0 }}
		<a href="/gicar-integracio/">
	{{ end }}

	Integració amb SiteMinder

	{{ if gt (len $section) 0 }}
		</a>
	{{ end }}

{{ end }}

<!-- GICAR - integració directoris -->
{{ if or (eq $title "directoris-integracios") (eq $section "directoris-integracio") }}
	<a href="/gicar/">GICAR</a> </li>

	<li>
		<a href="/gicar-integracio-intro/">Modalitats d'integració possibles</a>
	</li>

	<li>
	{{ if gt (len $section) 0 }}
		<a href="/directoris-integracio/">
	{{ end }}

	Integració amb els directoris de la Generalitat

	{{ if gt (len $section) 0 }}
		</a>
	{{ end }}

{{ end }}

<!-- GICAR - integració saml2 -->
{{ if or (eq $title "gicar-saml2s") (eq $section "gicar-saml2") }}
	<a href="/gicar/">GICAR</a> </li>

	<li>
		<a href="/gicar-integracio-intro/">Modalitats d'integració possibles</a>
	</li>

	<li>
	{{ if gt (len $section) 0 }}
		<a href="/gicar-saml2/">
	{{ end }}

	Integració amb SAML2

	{{ if gt (len $section) 0 }}
		</a>
	{{ end }}

{{ end }}

<!-- GICAR - integració intro -->
{{ if or (eq $title "gicar-integracio-intros") (eq $section "gicar-integracio-intro") }}
	<a href="/gicar/">GICAR</a> </li>

	<li>
	{{ if gt (len $section) 0 }}
		<a href="/gicar-integracio-intro/">
	{{ end }}

	Modalitats d'integració possibles

	{{ if gt (len $section) 0 }}
		</a>
	{{ end }}

{{ end }}

<!-- CENTRE DE SUPORT CANIGO - Oficina Tècnica Canigó -->
{{ if or (eq $title "centre-de-suport-cs-canigo") (eq $section "centre-de-suport-cs-canigo") }}
<a href="/cs/">Centres de suport</a> </li>
<li>
    {{ if gt (len $section) 0 }}
    <a href="/centre-de-suport-cs-canigo/">
        {{ end }}

        Oficina Tècnica de Canigó

        {{ if gt (len $section) 0 }}
    </a>
    {{ end }}

{{ end }}

<!-- GICAR - integració home 2021 -->
{{ if or (eq $title "gicar-novesintegracionss") (eq $section "gicar-novesintegracions") }}
	<a href="/gicar/">GICAR</a> </li>

	<li>
	{{ if gt (len $section) 0 }}
		<a href="/gicar-novesintegracions/">
	{{ end }}

	Modalitats d'integració possibles a nivell funcional i tècnic

	{{ if gt (len $section) 0 }}
		</a>
	{{ end }}

{{ end }}

<!-- GICAR - possibilitats tecniques autenticacio 2021 -->
{{ if or (eq $title "gicar-novesintegracions-tecniques-autenticacios") (eq $section "gicar-novesintegracions-tecniques-autenticacio") }}
	<a href="/gicar/">GICAR</a> </li>

	<li>
		<a href="/gicar-novesintegracions/">Modalitats d'integració possibles</a>
	</li>

	<li>
	{{ if gt (len $section) 0 }}
		<a href="/gicar-novesintegracions-tecniques-autenticacio/">
	{{ end }}

	Possibilitats tècniques d'integració

	{{ if gt (len $section) 0 }}
		</a>
	{{ end }}

{{ end }}

<!-- GICAR - guia integració funcionalitats autenticacio 2021 -->
{{ if or (eq $title "gicar-novesintegracions-funcionalitats-autenticacios") (eq $section "gicar-novesintegracions-funcionalitats-autenticacio") }}
	<a href="/gicar/">GICAR</a> </li>

	<li>
		<a href="/gicar-novesintegracions/">Modalitats d'integració possibles</a>
	</li>

	<li>
	{{ if gt (len $section) 0 }}
		<a href="/gicar-novesintegracions-funcionalitats-autenticacio/">
	{{ end }}

	Possibilitats funcionals d'integració amb GICAR

	{{ if gt (len $section) 0 }}
		</a>
	{{ end }}

{{ end }}
