<div id="fAvisLegal">
	<div class="fpca_peu_new">
		<footer class="in-faldo">

		<div></div>
		<div>
			<!--div class="fpca_peu_xarxesSocials">
				<div class="footer-social">
					<div class="NG-container">
						<div class="footer-social__wrapper">
							<div class="NG-row-flex NG-row-flex--vertical-md">
								<div class="NG-col">
									<div class="footer-social__text">
										<p class="footer-social__text-title">Segueix el LinkedIn del CTTI</p>
									</div>
								</div>
								<div class="NG-col">
									<ul class="footer-social__list">
										<li class="footer-social__list-item">
											<a class="footer-social__list-link"
													href="https://www.linkedin.com/company/ctticat" target="_blank">
													<img class="footer-social__list-link-image js-footer-hover-img"
														alt="Icona de LinkedIn"
														data-default="/web/resources/fwkResponsive/fpca_peu_xarxesSocials/img/linkedin-c.svg"
														data-hover="/web/resources/fwkResponsive/fpca_peu_xarxesSocials/img/linkedin-c-sobre.svg"
														src="https://ctti.gencat.cat/web/resources/fwkResponsive/fpca_peu_xarxesSocials/img/linkedin-c.svg">
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="footer-social_border">
							<span class="footer-social_border--line"></span>
						</div>
					</div>
				</div>
			</div-->
		</div>
		<div>
			<div class="fpca_peu_contacte">
				<div class="footer-contact">
					<div class="NG-container">
						<div class="footer-contact__wrapper">
							<h2 class="footer-contact__title">Com t'atenem</h2>
							<div class="NG-row-flex NG-row-flex--vertical-md">
								<div class="NG-col footer-contact__description-wrapper">
									<div class="footer-contact__description">
										<div class="footer-contact__text">
											<p>Pots contactar amb nosaltres mitjançant els <a href="/centres-suport">centres de suport</a>.</p>
										</div>
									</div>
								</div>
								<div class="NG-col footer-contact__list-wrapper">
									<ul class="footer-contact__list">
										<li class="footer-contact__list-item">
											<a class="footer-contact__list-link" target="_blank"
												href="https://ovt.gencat.cat/gsitfc/AppJava/generic/conqxsGeneric.do?webFormId=31">
											<img class="footer-contact__list-img" alt="Bústia de contacte"
													src="https://ctti.gencat.cat/web/shared/continguts_per_compartir/icones/peu_contacte/bustia.svg">
											<span class="footer-contact__list-txt">
													Bústia de contacte
												</span>
												<span class="sr-only">. Obre en una nova finestra.</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
				<div class="NG-container">
					<div class="footer-bottom__wrapper">
						<div class="NG-row-flex NG-row-flex--space-between NG-row-flex--vertical-reverse-xs">
						<div class="NG-col">
								<a class="footer-bottom__logo-link" target="_blank" title="web.gencat.cat"
									href="https://web.gencat.cat/ca/inici/">
									<img class="footer-bottom__logo"
										src="https://ctti.gencat.cat/web/resources/fwkResponsives/common/img/logo_generalitat_blanc.svg"
										alt="web.gencat.cat" srcset="">
								</a>
							</div>
						<div class="NG-col NG--flex75">
								<ul class="footer-bottom__list">
									<li class="footer-bottom__list-item">
										<a class="footer-bottom__list-link"
											title="Ves a l'avís legal del web gencat" target="_blank"
											href="https://web.gencat.cat/ca/ajuda/avis_legal/">
											Avís legal</a>
									</li>
								<li class="footer-bottom__list-item">
										<a class="footer-bottom__list-link"
											title="Ves a la declaració d'accessibilitat del lloc" target="_self"
											href="https://ctti.gencat.cat/ca/inici/ca/altres-pagines/accessibilitat/">
											Accessibilitat</a>
									</li>
								<li class="footer-bottom__list-item">
										<a class="footer-bottom__list-link" title="Política de galetes "
											target="_blank"
											href="https://web.gencat.cat/ca/ajuda/politica-de-galetes/">
											Política de galetes</a>
									</li>
								<li class="footer-bottom__list-item">
										<a class="footer-bottom__list-link" title="Ves al mapa web del lloc"
											target="_self"
											href="https://ctti.gencat.cat/ca/inici/ca/altres-pagines/mapa-web/">
											Mapa web</a>
									</li>
							</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	<div class="NG-container">
			<div class="NG-row-flex NG-goToTop__wrapper">
				<button class="NG-goToTop js-NG-goToTop" style="display: block;">
					<img class="NG-goToTop_image" alt="Torna amunt"
						src="https://ctti.gencat.cat/web/resources/fwkResponsive/fpca_peu/img/chevron-up-w.svg">
				</button>
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script src="/js/custom.js" type="text/javascript"></script>

{{ if and (isset .Site.Params "google_analytics_id") (ne .Site.Params.google_analytics_id "") }}

<script type="text/javascript">

if(location.hostname!=="localhost"){

	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', "{{.Site.Params.google_analytics_id}}", 'auto');
	ga('send', 'pageview', {
	  	'page': location.pathname + location.search  + location.hash
	  }
	);

}

</script>

{{ end }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-277LZ40QYF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-277LZ40QYF');
</script>
{{ partial "cms.html" . }}
