		{{ $title := .Title | html | lower}}

		<header class="fons_header navbar navbar-default z-index-menu">
			<div class="container" role="menu">
				<div class="row clearfix menuNav">
					<div class="col-md-3 col-xs-3 column visible-xs coloca ">
						<button type="button" onclick="amunt();" title="Menu"
							class="navbar-toggle pull-left" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
					</div>

					<div class="col-md-3 col-xs-6 col-offset-2 column visible-xs titol-mobil">
						<!--span class="mvlogo" title="Generalitat de Catalunya"></span-->
						<span class="white titol-mobil-destacat">canigo.ctti</span><span class="white">.gencat.cat</span>
					</div>

					<div class="col-md-3 col-xs-3 column visible-xs coloca1">
						<button onclick="amunt();" type="button" title="Cerca"
							class="ico_cerca " data-toggle="collapse" data-target=".dos">
						</button>
					</div>

				</div>

				<div class="collapse dos">
					<div class="shadowBox">
						<form class="navbar-form navbar-left primer" action="/cercador/" method="get"
 						onsubmit="location.href=this.action+'?q='+this.cerca_cap.value; return false;">
							<div class="form-group">
								<input type="search" class="form-control" name="q" id="cerca_cap"
									title="Cerca"
									placeholder="Cerca" />
								<button type="button" title="Neteja" class="btn btn-default"></button>
								<input type="submit" class="ocult" name="Cerca" value="Cerca" />
							</div>
						</form>
					</div>
				</div>	

				<nav class="collapse navbar-collapse navbar-ex1-collapse ">
				
					<div class="row">
						<div class="col-md-6 col-sm-4 column">
							<a class="img-responsive logo" title="Generalitat de Catalunya"
								href="https://ctti.gencat.cat/">gencat.cat</a>
							<button class="menu_tancar visible-xs collapsed"
								data-target=".navbar-collapse" data-toggle="collapse"
								title="Tancar"></button>
						</div>

						<div class="col-md-6 col-sm-8 column hidden-xs hidden-mg">
							<form class="navbar-form cercador_vermell hidden-xs pull-right" action="/cercador/"  method="get" onsubmit="location.href=this.action+'?q='+this.cerca2.value; return false;">
								<div class="form-group">
									<label class="hidden" for="cerca2">Cerca</label>
									<input id="cerca2" class="form-control" type="search" 
									placeholder="Cerca" name="q" title="Cerca">
									<input class="btn btn-default" type="submit" title="Cerca" value="">
								</div>
							</form>

							{{ if isset .Params "langs" }}

							<ul class="idioma">
								<li>
									{{range .Params.langs}}
										<a title="{{.}}" data-lang="{{.}}" href="?lang={{.}}" style="display:none">{{.}}</a>
									{{end}}
								</li>
							</ul>

							{{ end }}

						</div>

					</div>
					<div class="col-xs-12 hidden-xs" id="nomPortal">
                    	<span class="titol-cap-nou">{{ .Site.Params.titol }}</span>
                    </div>					
					<ul class="nav navbar-nav">

			        	{{ range .Site.Menus.main }}

						<li>
							<a class="dropdown-toggle" href='{{.URL}}' data-toggle='_dropdown'>{{ .Name }}</a>
						</li>

						{{end}}

					</ul>

				</nav>
			</div>
		</header>

