{{ $title := .Title | html | lower}}
{{ $section := .Section | html | lower}}

<!-- switch subseccions -->

{{ if or (eq $title "canigo-documentacio") (eq $section "canigo-documentacio") }}
	Documentació
{{ else if or (eq $title "canigo-documentacio-versions") (eq $section "canigo-documentacio-versions") }}
	Versions
{{ else if or (eq $title "canigo-documentacio-versions-anteriors") (eq $section "canigo-documentacio-versions-anteriors") }}
	Versions anteriors
{{ else if (eq $title "sic-serveis") }}
	Serveis
{{ else if (eq $title "sic-welcome-pack") }}
	Welcome pack
{{ else if (eq $title "sic-suport") }}
	Suport
{{ else if (eq $title "blog") }}
	Blog d'Arquitectura
{{ else if (eq $title "arqctti") }}
	Arquitectura CTTI
{{ else if (eq $title "dadesref") }}
	Entitats de Referencia
{{ else }}
	{{ .Title }}
{{ end }}
