{{ $title := .Title | html | lower}}
{{ $section := .Section | html | lower}}

<!-- switch subseccions -->

<!-- Canigó - documentació -->
{{ if or (eq $title "canigo-documentacio") (eq $section "canigo-documentacio") }}
	Documentació
{{ end }}

<!-- Canigó - documentació -versions -->
{{ if or (eq $title "canigo-documentacio-versions") (eq $section "canigo-documentacio-versions") }}
	Versions
{{ end }}


{{ if or (eq $title "canigo-documentacio-versions-anteriors") (eq $section "canigo-documentacio-versions-anteriors") }}
	Versions anteriors
{{ end }}

<!-- SIC - documentació -->
{{ if or (eq $title "sic-documentacio") (eq $section "sic-documentacio") }}
	Documentació
{{ end }}

<!-- Bloc d'Arquitectura -->
{{ if or (eq $title "bloc") (eq $section "bloc") (in .URL "bloc_tags") }}
	Blog d'Arquitectura
{{ end }}
