<!DOCTYPE html>
<html xml:lang="ca-ES" lang="ca-ES" xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>{{.Title}}</title>
	{{ partial "head.html" . }}

</head>
<body>

	<a class="hidden-xs skip-main" href="#main" tabindex="1" role="region">
		Saltar al contingut principal
	</a>

	<div class="contenidor unfixed">
		{{ partial "header_block.html" . }}
	</div>

	<div class="border-start bgGrey">
		<div id="impacteContainer">
			<div class="fpca-subcapcalera ">
				<div class="NG-menu ">
					<div class="NG-container">
						<ul class="NG__breadcrumb">
							{{ partial "breadcrumbs.html" . }}
						</ul>

						
						<div class="NG-menu__wrapper">
							<div class="NG-menu__wrapper_title" role="main">
								<h1 class="NG-menu__title">
									Pàgina no trobada
								</h1>
							</div>
							<div class="NG-menu__wrapper_title2">					
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ partial "footer.html" . }}

</body>
</html>
