<!DOCTYPE html>
<html xml:lang="ca-ES" lang="ca-ES" xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>{{ .Site.Title }}</title>
     <meta name="robots" content="noindex,follow" />
	{{ partial "head.html" . }}
	<script>
		document.write("<meta name=\"titol\" content=\"{{.Title}}\" />");
	</script>

    <script type="text/javascript" src="https://teletext.io/js/latest/txt-min.js"></script>
    <script>
        var options = {
            id: '787d1bf3-29a7-43d0-ad97-3d128ca46701'
        };
        Txt.render(options);
    </script>
</head>
<body class="home">
	<div class="contenidor unfixed">

		{{ partial "menu.html" . }}

	</div>

	<section class="border-start">

		<article>
				<div class="capcelera_imatge shadowBox2">
					<div class="shadow-invert visible-xs"></div>
					<div class="pos_relative">
						<img class="img-responsive" alt="" src="/images/banner.jpg" />
						<div class="ifnotimg"></div>
						<div class="gradient"></div>
					</div>
					<div class="bgTransRed">
						<div class="container pos_relative">
							<h1><span>{{ .Site.Params.subtitol }}</span></h1>
						</div>
					</div>
				</div>


		</article>

		<article class="padding-xs padding-sm padding-md">

			<div class="container">
				<div class="row">

					<div class="col-sm-8">
						<!--h1 class="pull-left">Notícies</h1-->
						<ul class="list-group llistat_enllacos_filet_cont contingut">
				            <!-- range first .Site.Params.noticieshome (where .Data.Pages "Section" "noticies") -->

					        {{ range $key, $taxonomy := .Site.Taxonomies.sections }}
					        {{ if eq $key "home" }} 
							{{ range first $.Site.Params.noticieshome ($taxonomy.Pages) }} 
								<li>
									<a href="{{ .Permalink }}" class="a-vermell">
									{{ if eq .Section "blog" }}
										BLOG. 
									{{ end }}
									{{ .Title }}</a> ({{ .Date.Format "02-01-2006" }})
									<p>{{ .Description }}<br /><br /></p>
								</li>
							{{ end }}
							{{ end }}
							{{ end }}
						</ul>
						<a title="RSS de notícies" href="/noticies" class="more">Més notícies</a> <a href="/index.xml" class="rss pull-right"><img src="/img/NG_ico_rss.png_196546587.png" alt="RSS"/></a>
					</div>

					<div class="col-sm-4">

						{{ if gt (len (where .Data.Pages "Section" "quisom")) 0 }}

						<div class="inform_relacionada superdestacat">
							<div class="inform_relacionada_cont">
								<span class="enllac"><h4><strong>Qui som?</strong></h4><span>
								<div class="llistat_enllacos_filet llistat_enllacos_filet_cont">
									<p><a href="/quisom/about" title="Qui som:"><img src="/images/bloc/web-aq.png" alt="QuiSom" /></a></p>
								</div>
							</div>
						</div>

						{{ end }}

						<div class="inform_relacionada superdestacat">
							<div class="inform_relacionada_cont">
								<span class="enllac"><h4><strong>Roadmap de les solucions</strong></h4><span>
								<div class="llistat_enllacos_filet llistat_enllacos_filet_cont">
									<p><a href="/centre-de-suport/roadmap/" title="Accés al Roadmap de les solucions: Canigó, SIC, SGDE"><img src="/images/destacats/roadmap.PNG" alt="Roadmap" /></a></p>
								</div>
							</div>
						</div>

						{{ if gt (len (where .Data.Pages "Section" "destacats")) 0 }}

						<div class="inform_relacionada">
							<div class="inform_relacionada_cont">
								<h4><strong>Destacats</strong></h4>
								<div class="llistat_enllacos_filet">
									<ul class="llistat_enllacos_filet_cont icones list-group">
									{{ range first .Site.Params.destacatshome (where .Data.Pages "Section" "destacats") }}
										<li class="list-group-item bullet">
										  {{ if isset .Params "enllac" }}
										    <a href="{{ index .Params "enllac" }}">{{ .Title }}</a>
											 {{ else }}
											   <span class="enllac">{{ .Title }}</span>
											 {{ end }}
											{{ .Description }}
										</li>
									{{ end }}
									</ul>
								</div>
							</div>
						</div>

						{{ end }}

						<div class="inform_relacionada">
							<div class="inform_relacionada_cont">
								<h4><strong>Contacta</strong></h4>
								<div class="llistat_enllacos_filet">
									<ul class="llistat_enllacos_filet_cont icones list-group">
										<li class="list-group-item bullet">
											<a href="/cs">Centres de suport</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		</article>

	</section>

	{{ partial "footer.html" . }}

</body>
</html>
