<!DOCTYPE html>
<html xml:lang="ca-ES" lang="ca-ES">
<head>
	<title>{{ .Site.Title }}</title>
	{{ partial "head.html" . }}
	{{ $p := .Site.GetPage "page" "home.md" }}
	<script>
		document.write("<meta name=\"titol\" content=\"{{.Title}}\" />");
	</script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/slider.js"></script>

</head>
<body>
	<a class="hidden-xs skip-main" href="#main" tabindex="1" role="region">
		Saltar al contingut principal
	</a>

	<div class="contenidor unfixed">
		{{ partial "header_block.html" . }}
	</div>

	<div class="border-start bgGrey">
		<div id="impacteContainer"></div>
	</div>
	<main id="main">

	<section class="padding-xs padding-sm padding-md  colorSectionEven">
			<article class="container fullcontainer-xs">
				<div class="row">
					<div class="col-xs-12 col-md-8 shadowBox-sm">
						<div id="center_1_1R">

						<div class="fpca_marca">

							<div class="hidden-xs">

								<div id="bContainer_enllac">
										<div>
											<h1 class="marca_sense_padding">
												<a href="/" tabindex="0" style="font-size: 2.2em">
													canigo.<img alt="ctti.gencat.cat"
														src="/img/ctti-gencat-cat.png_602392567.png"
														tabindex="-1" />
											</a>
											</h1>
										</div>
									</div>
								</div>

						</div>

						<div class="fpca_cercadorGencat ">
							<script>
								const ALGOLIA_INSIGHTS_SRC = "https://cdn.jsdelivr.net/npm/search-insights@2.8.2/dist/search-insights.min.js";
								!function (e, a, t, n, s, i, c) {
									e.AlgoliaAnalyticsObject = s, e[s] = e[s] || function () {
										(e[s].queue = e[s].queue || []).push(arguments)
									}, e[s].version = (n.match(/@([^\/]+)\/?/) || [])[1], i = a.createElement(t), c = a.getElementsByTagName(t)[0],
										i.async = 1, i.src = n, c.parentNode.insertBefore(i, c)
								}(window, document, "script", ALGOLIA_INSIGHTS_SRC, "aa");

							</script>
							<input type="hidden" class="queryId" value="f206822f3aa98eeb6232e6f61cec0e69" />
								<div class="col-md-12 col-xs-12 column vista-mobil pd-30 pd-15">
									<div class="capcelera_basica_cont">
										<div class="cercador-gencat">
											<div class="cercador-tramits-detall no-space-left detall-cerc">
												<form class="navbar-form cercador_vermell alineat-cercador-tramits" action="/cercador/">
													<div class="form-group">

														<div class="hidden-xs">
																<p class="sr-only">Cercador</p>
																<label for="cercadorOcultGoogle" class="sr-only">
																	Introdueixi terme que voleu cercar
																</label>
																<input type="search" name="q" id="cercadorOcultGoogle"
																	title='Cercador' class="form-control" value=""
																	placeholder="" autocomplete="off">
																<input type="hidden" name="lr" value="lang_ca" />
																<input aria-label='Cercar' class="btn btn-default hidden-xs"
																	type="submit" value="&nbsp;" />
																<button type="reset" title='Esborra'
																	class="btn btn-default visible-xs"></button>
														</div>
													</div>
												</form>
											</div>
									</div>

									</div>
								</div>

						</div>
					</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div id="center_1_2R">


						<div class="fpca_llista_fonsDestacat formatter_body}">

							<div class="shadowBox fons_destacat_cont generalitat">
									<div class="shadow"></div>
									<div class="panel panel-default box">

									<div class="panel-heading fons_gris">
											<h2 class="panel-title fb_no-separador titol-pd-btm">El més consultat</h2>
										</div>

									<div class="panel-body fons_blanc no-button no-button-xs">

										<ul class="llistat_enllacos_filet_cont list-group">
											{{ range $p.Params.consultat }}
												<li class="list-group-item col-sm-12 "><a  href="{{.link}}" title="{{.title}}" class="separador" target="_self"><span class='list-group-item-wrapper-content'>{{.title}}</span></a></li>
											{{ end }}
										</ul>
										</div>

								</div>
								</div>
							</div>


					</div>
					</div>
				</div>
			</article>
		</section>
		<section class="padding-xs padding-sm padding-md  colorSectionEven">
			<article class="container fullcontainer-xs">
				<div class="row">


					<div class="col-xs-12 col-md-6">
						<div id="center_2_1R">
							<div class="fpca_diapositives slider-col-50 formatter_body" data-resource-id="a04e66d9-c244-11ec-8b4d-005056924a59">

								<div class="slider-quadrat ">
									<div class="box-sm">
										<div id="carousel-example-generic-a04e66d9-c244-11ec-8b4d-005056924a59" class="carousel slide slider_imatges slider_petit inici" data-ride="carousel">

											<div class="slider_imatges_cont">
													
												{{ if gt (len $p.Params.destacats_centrals) 1 }}
												<div class="slide_navigator c-50" style="height: 0px; display: none; opacity: 1;">
													<div class="slide_left">
														<a href="#carousel-example-generic-a04e66d9-c244-11ec-8b4d-005056924a59" data-slide="prev">
															<img src="/img/icona-45-fletxa-esquerra.svg" alt="Imatge anterior">
														</a>
													</div>
													<div class="slide_right">
														<a href="#carousel-example-generic-a04e66d9-c244-11ec-8b4d-005056924a59" data-slide="next">
															<img src="/img/icona-45-fletxa-dreta.svg" alt="Imatge següent">
														</a>
													</div>
												</div>
												{{ end }}

												<div class="carousel-inner">
													{{ $active := "active" }}
													{{ range $p.Params.destacats_centrals }}
														<div class="item {{$active}}" style="height: 409px;">
															{{ $active = "" }}

															<div class="carousel-image">
																<a href="{{.link}}" title="{{.title}}">
																	<img class="img-responsive" alt="" src="{{.img}}">
																	<div class="gradient"></div>
																	<span class="dekstop">{{.link}}</span>
																</a>
															</div>
																
															<div class="carousel-caption">
																<a href="{{.link}}" title="{{.title}}">
																	<span class="col-sm-12 dekstop hidden-xs">{{.title}}</span>																		
																</a>
																<p class="descripcio "></p>
															</div>
													
														</div>

													{{ end }}
																			
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					
					<div class="col-xs-12 col-md-6">
						<div id="center_2_2R">

						<div class="fpca_llista_pestanyes formatter_body w50">
							<div class="pestanyes shadowBox-sm pd-15 pd-30">
									<div class="pestanyes_top hidden-xs">
										<div class="scroller scroller-left" role="button" tabindex="-1">
											<svg width="24" height="24" viewBox="0 0 24 24"
												xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="evenodd">
													<path d="M0 0h24v24H0z" />
													<path
														d="M7.675 19.332a1.126 1.126 0 0 1-.014-1.602l.014-.014 6.175-6.05-6.175-6.048a1.126 1.126 0 0 1-.014-1.603l.014-.014a1.184 1.184 0 0 1 1.636-.013L9.325 4l7 6.858c.45.441.456 1.155.014 1.602l-.014.014-7 6.857a1.184 1.184 0 0 1-1.65 0z"
														class="fill_hover" fill="#C00000" />
												</g>
											</svg>
										</div>
										<div class="wrapper">
										<ul class="pestanyes_top nav-tabs list" id="pestanyes_6dc42f69-c572-11ec-83d2-005056924a59" role="tablist">
											<li id="tab_1_6dc42f69-c572-11ec-83d2-005056924a59"
													class="tab pestanya-slider active" role="tab" tabindex="0"
													aria-selected="true" data-pinned="true" aria-posinset="1"
													aria-setsize="1">
												<div
													id="center_1_6dc42f69-c572-11ec-83d2-005056924a59_titlePestanya">
													<div class="titol-tab">
														<span title="Notícies">Notícies</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
										<div class="scroller scroller-right" role="button" tabindex="-1">
											<svg width="24" height="24" viewBox="0 0 24 24"
												xmlns="http://www.w3.org/2000/svg">
												<g fill="none" fill-rule="evenodd">
													<path d="M0 0h24v24H0z" />
													<path
														d="M7.675 19.332a1.126 1.126 0 0 1-.014-1.602l.014-.014 6.175-6.05-6.175-6.048a1.126 1.126 0 0 1-.014-1.603l.014-.014a1.184 1.184 0 0 1 1.636-.013L9.325 4l7 6.858c.45.441.456 1.155.014 1.602l-.014.014-7 6.857a1.184 1.184 0 0 1-1.65 0z"
														class="fill_hover" fill="#C00000" />
												</g>
											</svg>
										</div>
									</div>
									<div class="panel-group pestanyes_bot box-sm" id="accordion_6dc42f69-c572-11ec-83d2-005056924a59">


									<div class="panel active" id="1_6dc42f69-c572-11ec-83d2-005056924a59_panel"
											role="tabpanel">

										<h2 class="sr-only" tabindex="0">Notícies</h2>


										<div id="1_6dc42f69-c572-11ec-83d2-005056924a59_mb"
												class="panel-heading visible-xs accord-pestanya">
											<div class="panel-title">
												<a title="Notícies" data-toggle="collapse"
													data-parent="#accordion_6dc42f69-c572-11ec-83d2-005056924a59"
													href="#collapse_1_6dc42f69-c572-11ec-83d2-005056924a59_mb">
													<div
														id="center_1_6dc42f69-c572-11ec-83d2-005056924a59_titlePestanya_mb">
														<div class="titol-tab">
															<span>Notícies</span>
														</div>
													</div>
												</a>
											</div>
										</div>

										<div id="collapse_1_6dc42f69-c572-11ec-83d2-005056924a59_mb"
												class="panel-collapse collapse in">
												<div id="center_1_6dc42f69-c572-11ec-83d2-005056924a59_pestanya_mb" class="content-pestanya m_true">
													<div>
														<div class="fpca_llista formatter_body" id="llista_bce4b29d-c241-11ec-8b4d-005056924a59_bce4b29e-c241-11ec-8b4d-005056924a59">
																<div class="llistat_destacat_noticies mes_actualitat pd-15 pd-30 llista-tipus-7">
																	<ul class="col-sm-12 llistat_enllacos_filet_cont list-group one-column separador ">

																		{{ range $key, $taxonomy := .Site.Taxonomies.sections }}
																		{{ if eq $key "home" }} 
																		{{ range first 3 ($taxonomy.Pages) }} 
											
																		<li class="destacat_noticies list-group-item  clearfix">
																			<div class="destacat_noticies_cont no-imatge">
																				<p>
																					<a class="avoidEscapeU0023" href="{{ if (isset .Params "enllac") }}{{ .Params.enllac }}{{ else }}{{ .Permalink }}{{ end }}">
																						<span class="list-group-item-wrapper-content">La
																							{{ if eq .Section "blog" }}
																								BLOG. 
																							{{ end }}
																							{{ .Title }}
																						</span>
																					</a>
																					<br />
																					<span>{{ .Description }}</span>
																				</p>
																			</div>
																		</li>

																		{{ end}}
																		{{ end}}
																		{{ end}}

																	</ul>
																</div>
																<div class="contenidor-footer pd-15 pd-30">
																	<div class="rssAdj padding-rss">
																	</div>

																	<div class="mes-noticies">
																			<a class="rss"
																				href="/noticies"
																				title="Més notícies">
																				Més notícies
																		</a>
																	</div>
																</div>

														</div>
													</div>
												</div>
											</div>
										</div>

								</div>
								</div>

						</div>
					</div>
					</div>
				</div>
			</article>
		</section>
		<section class="padding-xs padding-sm padding-md  colorSectionEven">
			<article class="container fullcontainer-xs">
				<div class="row">
					<div>
						<div id="center_3R">

						<div class="fpca_llista_quadriculaColors pd-15 formatter_body">

							<h2 class="header2 pd-15s-m">Destaquem</h2>

							<p class="hidden">Destaquem</p>

							<div>
								<article class="llistat_destacat_color col-sm-12">
									<!-- llistat_destacat_color_cont -->
									<div class="llistat_destacat_color_cont">
										<ul class="list-group">
											{{ range $p.Params.destacats }}

											<li class="destacat_color list-group-item col-xs-6 col-sm-3">
												<div class="destacat_color_cont box-sm text_negre"><a
														title="{{.title}}"
														href="{{.link}}">{{.title}}</a></div>
											</li>

											{{ end }}
										</ul>
									</div>
								</article>
							</div>
						</div>
					</div>
					</div>
				</div>
			</article>
		</section>
	</main>
	<div class="container visible-xs oculta_xarxes">
		<div class="row padding-xs">
			<div class="footer-xarxes">
		</div>
		</div>
	</div>


	{{ partial "footer.html" . }}
	

</body>
</html>