<tr>
  <td bgcolor="#eeeeee">
    <!--shadow-->

    <table width="100%" cellspacing="0" class="shadow" style="border-collapse:collapse;border-spacing:0px;">
      <tr>
        <td style="padding: 0px">
          <img src="/images/comunicats/shadow_bottom_footer.jpg" border="0" alt="">
        </td>
      </tr>
    </table>
  </td>
</tr>
<!--end shadow-->
<tr>
  <td>
    <table width="100%" bgcolor="#eeeeee" border="0" cellspacing="0" cellpadding="0" style="padding-bottom:20px">
      <tr>
        <td class="p-0-20">
          <table width="100%">
            <tr>
              <td>
                <table width="100%">
                  <tr>
                    <td style="background: #ddd;height: 0px;"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table align="left" class="pl-15">
                  <tr>
                    <td><img id="logo_bottom" src="/images/comunicats/logo-generalitat_gris.png" width="101px" height="26" border="0" alt="">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;
              </td>
            </tr>
            <tr>
              <td>
                <table align="left" style="margin-left: 20px; width:90%">
                  <tr>
                    <td class="avis_legal"><strong style="color:#656565;"><a href="https://web.gencat.cat/ca/menu-ajuda/ajuda/avis_legal/" style="text-decoration: none;">Avís legal:</a></strong> La ©Generalitat de Catalunya permet la reutilizació de les dades sempre que se citi la font i la data d´actualizació, que no es desnaturalitzi la informació i que no es contradigui amb una llicència específica.</td>
                  </tr>
                  <tr>
                  <td class="avis_legal" style="font-family:Open Sans, sans-serif; font-size: 10px; padding:0px; color:#656565;">Pot donar de baixa la seva subscripció a aquest butlletí accedint a <a href="https://butlletins.gencat.cat/pres_push/AppJava/subscribe.do" style="text-decoration: none;">aquest enllaç</a>.</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
            <table class="amunt">
                <tr>
                <td align="left">
                    <a href="#amunt">
                    <img src="https://canigo.ctti.gencat.cat/images/comunicats/expanded.png" border="0" alt="">
                    </a>
                    <a style="font-family:Open Sans, sans-serif; font-size: 10px;padding: 0px 10px 0px 0px;color:#333;" href="#amunt">
                    <strong>AMUNT</strong>
                    </a>
                </td>
                </tr>
            </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
